<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="m-5 align-middle">
            <h2>Downloading Gallery</h2>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <h5 class="mt-5"><%= gallery.title %></h5>
            <span><%= gallery.items.length %> Photos</span>
            <form action="downloads/<%= gallery.id %>.zip" method="GET" class="mt-5 align-center" id="downloadButton"
                hidden>
                <button type="submit" class="btn btn-primary btn-lg">Download Full Gallery ZIP</button>
            </form>

        </div>
    </div>


    <script>
        let progressBar = $('.progress-bar');
        let progressNumber = 0;
        let downloadButton = $('#downloadButton');

        setInterval(function () {
            progressNumber += 10;

            progressBar.css('width', progressNumber + '%');
            progressBar.attr('aria-valuenow', progressNumber);
            if (progressNumber > 101) {
                progressBar.removeAttr('class', 'progress-bar-animated');
                progressBar.attr('class', 'progress-bar');
                downloadButton.removeAttr('hidden');
            }
        }, 500);
    </script>

</body>

</html>