<!DOCTYPE html>
    <html>
        <head>
            <title>Gallery Scrape Tool</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        </head>
        <body>

            <div class="text-center">
                <div class="jumbotron">
                    <h1>GateHouse Gallery Scrape Tool</h1>
                    <p>Please be patient with me, I live on a free (read: sometimes slow) server!</p>
                </div>
            </div>



<div class="container">

    <form action="/scrape" method="POST" id="form">

        <div class="form-group">
            <label for="exampleInputEmail1">Legacy GateHouse Gallery Link</label>
            <input type="text" class="form-control" name="galleryURL" id="linkInput" placeholder="Gallery URL">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Scape Gallery</button>
        </div>
        <br><br>
    </form>

    <% const today = new Date(); %>
    <% let month = today.toLocaleString('default', { month: 'long' }); %>
    <% let date = today.getDate(); %>

        <div class="form-group">
            <label>Looking for Today's History Gallery?  Click below, it's usually the first result.  Copy the URL and paste it back here.</label>
            <p>
                <button class="button btn btn-primary" onClick="window.open(galleryLink);return false">Search Google for <%= month %> <%= date %> Gallery</button>
            </p>
            <p>
        </div>
    <form>

    </form>



</div>


<script type="text/javascript">
    function linkSubmit(event) {
        document.getElementById("progress").style.display = "inline-block";
        // event.preventDefault();
        // document.getElementById("form").submit();
        }

    const form = document.getElementById('form');
    form.addEventListener('submit', linkSubmit);
</script>

<script>
    const today = new Date()
    let month = today.toLocaleString('default', { month: 'long' })
    let date = today.getDate();
    // let galleryLink = `https://duckduckgo.com/?q=\\today+in+history+${month}+${date}+fayobserver.com&kp=-1&kl=us-en`;
    let galleryLink = `http://www.google.com/search?q=today+in+history+${month}+${date}+fayobserver.com`;
</script>



</body>
</html>